<div class="card pagination">
<div class="container d-flex flex-row bd-highlight mb-3">
  <%if !current_user.stories.count.zero?%>
    <%= link_to  image_tag(avatar_selection(current_user),width:"90", height:"90",class:"rounded-circle border border-danger") , user_stories_path(user_id: current_user.id), class: 'nav-link' %>
  <%end%>
  <%users.each do |user|%>
    <div class="bd-highlight">
      <%if (!user.stories.count.zero? and current_user.following?(user))%>
        <%= link_to  image_tag(avatar_selection(user),width:"90", height:"90",class:"rounded-circle border border-danger") , user_stories_path(user_id: user.id), class: 'nav-link' %>
      <%end%>
    </div>
  <%end%>
</div>
</div>



