<table>
  <tbody>
    <td >
      <% @stories.each do |story| %>
        <tr class="p-1">
          <% if story.images.attached? && story.images.count>1%>
            <%# TO DO %>
          <%end%>
          <%= link_to image_tag(story.images.first, width:"300" , height:"300",class:"p-2"), story, class: 'link m-4'%>
        </tr>
      <% end %>
    </td>
  </tbody>
</table>
