<div class="text-center">
  <h1 class="text-center">500</h1>
  <h3 class="h2">
    Look like you're lost
  </h3>
  <p>Internal Server Error</p>
  <%= link_to "Go to Home" , root_path, class: "btn btn-outline-dark" %>
</div>
